* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos Gerais */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

/* Cabeçalho */
header {
    background-color: #f30909;
    color: white;
    padding: 10px 0;
    text-align: center;
}
body {
    background-color: aquamarine;
}