* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos Gerais */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

/* Cabeçalho */
header {
    background-color: #f30909;
    color: white;
    padding: 10px 0;
    text-align: center;
}
body {
    background-color: aquamarine;
}
nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

nav ul li a:hover {
    text-decoration: underline;
}
/* Layout principal */
main {
    display: flex;
    flex-wrap: wrap;
}

/* Barra Lateral */
.barra-lateral {
    width: 250px;
    padding: 20px;
    background-color: #07f7e7; 
    border-right: 3px solid #0c0000; 
    min-height: 100vh; 
}
